.App {
  display: flex;
  justify-content: center;
}

.lotto-gen__btn {
  border: none;
}

.lotto__app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 750px;
}

.lotto-circle__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.non_opacity {
  opacity: 1 !important;
}
